apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    kompose.cmd: kompose convert --out ./kubernetes/
    kompose.version: 1.26.1 (a9d05d509)
    kompose.volume.type: persistentVolumeClaim
  creationTimestamp: 2022-07-17T07:20:50.52Z
  labels:
    io.kompose.service: redis
  name: redis
spec:
  replicas: 1
  selector:
    matchLabels:
      io.kompose.service: redis
  strategy:
    type: Recreate
  template:
    metadata:
      annotations:
        kompose.cmd: kompose convert --out ./kubernetes/
        kompose.version: 1.26.1 (a9d05d509)
        kompose.volume.type: persistentVolumeClaim
      creationTimestamp: 2022-07-17T07:20:50.52Z
      labels:
        io.kompose.service: redis
    spec:
      containers:
        - image: redis:6-alpine
          name: redis
          ports:
            - containerPort: 6379
          resources: {}
          volumeMounts:
            - mountPath: /data
              name: redisdata
      restartPolicy: Always
      volumes:
        - name: redisdata
          persistentVolumeClaim:
            claimName: redisdata
status: {}
